.App {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	text-align: center;
	background-color: darkgrey;
	padding-bottom: 1.5rem;
}

h1 {
	font-family: 'Proxima Nova';
}

li {
	font-family: 'Proxima Nova';
}

.inputHeadings {
	display: flex;
	flex-direction: row;
	background-color: grey;
	justify-content: space-between;
	width: 20%;
	padding: 0 25px;
	border: 2px solid black;
}

.Heading {
	border: 1px solid rgba(245, 245, 220, 0.501);
	justify-content: center;
	align-content: center;
}
.inputFields {
	margin-top: 2%;
	justify-content: space-evenly;
	display: flex;
	flex-direction: row;
}

.inputAdd {
	width: 150px;
	height: 30px;
	font-size: 20px;
	font-family: 'Proxima Nova';
}
h4 {
	font-size: 30px;
	font-family: 'Proxima Nova';
	font-weight: bold;
}
.addButton {
	width: 20%;
	margin-top: 1%;
	margin-left: 2%;
	font-size: 25px;
	font-family: 'Proxima Nova';
}

.mainList {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border: 2px solid black;
	margin-top: 2%;
}

.deleteButton {
	justify-content: center;
	font-family: 'Proxima Nova ';
	width: 21%;
}

.listItems {
	display: flex;
	flex-direction: row;
	margin-top: 5%;
	width: 100%;
	font-weight: bolder;
	font-family: 'Proxima Nova';
}

.updateDiv {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	width: 100%;
}

.updateDivFields {
	display: flex;
	flex-direction: column;
}

.updateButtons {
	display: flex;
	flex-direction: column;
}
